<html>
<head>
    <title>Create</title>
</head>
<body>
    <h1>Employees - Create</h1>
    <form action="/Home/Create" method="post">
        <table>
            <tr>
                <td>Emp ID:</td>
                <td><input type ="text" name="EmpID" /></td>
            </tr>
            <tr>
                <td>Emp Name:</td>
                <td><input type ="text" name="EmpName" /></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input type ="text" name="Salary" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type ="submit" value="Create" /></td>
            </tr>
        </table>
        <a href="/Home/Index">Back to list</a>
    </form>
</body>
</html>
